In [1]:
import pandas as pd

## Family Income Data (2019 ACS):

In [2]:
df1 = pd.read_csv('CensusIncome.csv')
# Select and rename columns of interest:
df_income = df1[['NAME','S1901_C01_013E','S1901_C02_013E']]
df_income = df_income.drop([0, 0])
df_income.rename(columns={'NAME': 'ZCTA','S1901_C01_013E': 'Household_income',
                          'S1901_C02_013E': 'Family_income'}, inplace=True)

/home/ubuntu/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (2,3,34,35,66,67,98,99) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df_income = df_income[~df_income['Household_income'].str.contains("N")]
df_income = df_income[~df_income['Household_income'].str.contains("-")]
df_income["Household_income"] = df_income["Household_income"].astype(str).astype(float)
df_income = df_income[~df_income['Family_income'].str.contains("N")]
df_income = df_income[~df_income['Family_income'].str.contains("-")]
df_income["Family_income"] = df_income["Family_income"].astype(str).astype(float)
df_income["Family_income"].describe()

count     31435.000000
mean      90489.174201
std       41463.700939
min        6461.000000
25%       66537.000000
50%       80938.000000
75%      101635.000000
max      594571.000000
Name: Family_income, dtype: float64

In [4]:
df_income["Household_income"].describe()

count     31435.000000
mean      77907.536949
std       34622.791868
min        7293.000000
25%       57577.500000
50%       70006.000000
75%       87982.000000
max      534451.000000
Name: Household_income, dtype: float64

## Income by Type Data:

In [5]:
df2 = pd.read_csv('Census_income_type.csv')
df_income_type = df2[['NAME','S1902_C01_001E','S1902_C01_002E','S1902_C01_003E','S1902_C01_004E','S1902_C01_006E','S1902_C01_008E']]
df_income_type = df_income_type.drop([0, 0])
df_income_type.rename(columns={'NAME': 'ZCTA','S1902_C01_001E': 'AllHouses',
                          'S1902_C01_002E': 'AllWithIncome','S1902_C01_003E': 'Wages_Salary','S1902_C01_004E': 'SelfEmployment',
                          'S1902_C01_006E': 'SocialSecurity','S1902_C01_008E': 'FoodStamps'}, inplace=True)

/home/ubuntu/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,80,81,94,95) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df_income_type["AllHouses"] = df_income_type["AllHouses"].astype(str).astype(float)
df_income_type["AllWithIncome"] = df_income_type["AllWithIncome"].astype(str).astype(float)
df_income_type["Wages_Salary"] = df_income_type["Wages_Salary"].astype(str).astype(float)
df_income_type["SelfEmployment"] = df_income_type["SelfEmployment"].astype(str).astype(float)
df_income_type["SocialSecurity"] = df_income_type["SocialSecurity"].astype(str).astype(float)
df_income_type["FoodStamps"] = df_income_type["FoodStamps"].astype(str).astype(float)

In [7]:
# Calculate % of Houses with members on food stamps and add new column to df:
stamps_pcnt = df_income_type.FoodStamps/df_income_type.AllHouses
df_income_type = df_income_type.merge(stamps_pcnt.to_frame('StampsPcnt'), left_index=True, right_index=True)

In [8]:
df_income_type['StampsPcnt'].describe()

count    32519.000000
mean         0.125320
std          0.112081
min          0.000000
25%          0.050554
50%          0.100610
75%          0.168464
max          1.000000
Name: StampsPcnt, dtype: float64

## Housing Density Data:

In [9]:
df3 = pd.read_csv('CensusHouseholdSize.csv')
df_housing = df3[['NAME','S2501_C02_005E','S2501_C02_008E','S2501_C04_005E','S2501_C06_005E']]
df_housing = df_housing.drop([0, 0])
df_housing.rename(columns={'NAME': 'ZCTA','S2501_C02_005E': 'Total_Prcnt_4_persons',
                           'S2501_C02_008E': 'Prcnt_High_Occ','S2501_C04_005E': 'Owner_Prcnt_4_persons',
                           'S2501_C06_005E': 'Renter_Prcnt_4_persons',}, inplace=True)

/home/ubuntu/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
df_housing = df_housing[~df_housing['Total_Prcnt_4_persons'].str.contains("-")]
df_housing["Total_Prcnt_4_persons"] = df_housing["Total_Prcnt_4_persons"].astype(str).astype(float)
df_housing["Prcnt_High_Occ"] = df_housing["Prcnt_High_Occ"].astype(str).astype(float)
df_housing = df_housing[~df_housing['Owner_Prcnt_4_persons'].str.contains("-")]
df_housing["Owner_Prcnt_4_persons"] = df_housing["Owner_Prcnt_4_persons"].astype(str).astype(float)
df_housing = df_housing[~df_housing['Renter_Prcnt_4_persons'].str.contains("-")]
df_housing["Renter_Prcnt_4_persons"] = df_housing["Renter_Prcnt_4_persons"].astype(str).astype(float)

## Merge All Dataframes:

In [11]:
df_data = pd.merge(df_income, df_income_type, on='ZCTA')
df_data = pd.merge(df_data, df_housing, on='ZCTA')

In [12]:
# Print the means for each column:
df_data.mean(axis=0)

/tmp/ipykernel_2137/3408874100.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_data.mean(axis=0)

Household_income          77860.081399
Family_income             90534.355079
AllHouses                  3975.993339
AllWithIncome              3078.623992
Wages_Salary               2966.027394
SelfEmployment              430.019982
SocialSecurity             1245.270872
FoodStamps                  503.320632
StampsPcnt                    0.125552
Total_Prcnt_4_persons        20.940977
Prcnt_High_Occ                0.790730
Owner_Prcnt_4_persons        20.883622
Renter_Prcnt_4_persons       21.378650
dtype: float64

In [13]:
zip_list = ['08701','08527','08753','11204','11219','11230','10952','10977','10950','10977','11367','11691','11374']
df_frum  = df_data[df_data.ZCTA.str.contains('|'.join(zip_list ))]

In [14]:
df_frum.mean(axis=0)

/tmp/ipykernel_2137/187230765.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_frum.mean(axis=0)

Household_income          85280.583333
Family_income             94465.333333
AllHouses                 19810.250000
AllWithIncome             15768.250000
Wages_Salary              15222.250000
SelfEmployment             2064.750000
SocialSecurity             5613.583333
FoodStamps                 4279.666667
StampsPcnt                    0.215275
Total_Prcnt_4_persons        36.100000
Prcnt_High_Occ                4.050000
Owner_Prcnt_4_persons        36.191667
Renter_Prcnt_4_persons       36.466667
dtype: float64

In [15]:
df_frum['Family_income'].describe()

count        12.000000
mean      94465.333333
std       16198.315795
min       64222.000000
25%       81918.750000
50%       93791.000000
75%      102906.500000
max      122428.000000
Name: Family_income, dtype: float64

In [16]:
df_data['Household_income'].describe()

count     30627.000000
mean      77860.081399
std       34176.646169
min       10663.000000
25%       57703.500000
50%       70030.000000
75%       87829.000000
max      511713.000000
Name: Household_income, dtype: float64

In [17]:
df_data['StampsPcnt'].describe()

count    30627.000000
mean         0.125552
std          0.100047
min          0.000000
25%          0.055354
50%          0.103279
75%          0.168831
max          0.911111
Name: StampsPcnt, dtype: float64

In [18]:
df_frum['StampsPcnt'].describe()

count    12.000000
mean      0.215275
std       0.102222
min       0.042131
25%       0.157144
50%       0.236438
75%       0.261292
max       0.365778
Name: StampsPcnt, dtype: float64

In [19]:
toms = df_data[df_data.ZCTA.str.contains('11691')]
toms.mean(axis=0)

/tmp/ipykernel_2137/3218624053.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  toms.mean(axis=0)

Household_income          72476.000000
Family_income             82148.000000
AllHouses                 20712.000000
AllWithIncome             15623.000000
Wages_Salary              15163.000000
SelfEmployment             1938.000000
SocialSecurity             5140.000000
FoodStamps                 7576.000000
StampsPcnt                    0.365778
Total_Prcnt_4_persons        33.000000
Prcnt_High_Occ                3.500000
Owner_Prcnt_4_persons        44.900000
Renter_Prcnt_4_persons       29.500000
dtype: float64